@mixin pc {
    @media screen and (min-width: 960px) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: 959px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 600px) {
        @content;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 12px;
    line-height: 1.67;
}

.wrap {
    width: 83%;
    margin: 0 auto;
    @include sp {
        width: 90%;
    }
}

.title {
    font-family: "Roboto";
    padding-top: 260px;
    color: #707070;
    letter-spacing: 5.4px;
    display: flex;
    align-items: center;
    @include tab {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    &:after {
        display: inline-block;
        content: "";
        border-bottom: 2px solid;
        width: 100px;
        margin-left: 1rem;
        @include sp {
            width: 40px;
        }
    }
}

img {
    width: 100%;
    display: block;
}